# Compilados e Binários (OpSec Crítico)
*.dll
*.exe
*.obj
*.pdb
*.ilk
*.lib
*.exp
build/
out/
bin/
x64/
target/
Debug/
Release/

# Dumps de Memória e Logs
*.dmp
*.mdmp
logs/
crashes/

# Configuraes Locais e Chaves
config.json
*.env
keys.txt

# Arquivos da IDE
.vscode/
*.user
.vs/


# Added by cargo

/target
